# Eclipse
.settings/
.classpath
.project
*.prefs

# Maven build output
target/
dist/
stage/

# maven-shade-plugin byproduct
dependency-reduced-pom.xml

# Compiled class files
*.class

# OS files
.DS_Store
Thumbs.db
